name: Deploy my-portfolio-final to GitHub Pages

on:
  push:
    branches:
      - main  # Khi push lên main, workflow sẽ chạy

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./         # root folder chứa index.html
          force_orphan: true      # tạo branch gh-pages nếu chưa tồn tại
